argparse
torch
openai
tqdm
inflect==7.2.0
openai-whisper==20231117
nltk==3.8.1
html2text==2024.2.26
requests-html==0.10.0
tiktoken==0.6.0
pandas==2.2.1
scipy==1.12.0
yt-dlp==2023.11.16
ollama==0.1.7
youtube-transcript-api==0.6.2
markdown
langchain
langchain-community
lxml==5.1.0
lxml[html_clean]
pyppeteer==2.0.0